body {
    max-width: 80vw;
    max-height: 100vh;
    margin: auto;
    font-family: sans-serif;
    background-color: #FAD2E1;
    height: 650px;
    padding: 2%;
    border: 3px solid #FFF1E6;
}

header {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
    background-color: #FFF1E6;
    font-size: 2.5rem;
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
}

#label {
    font-size: 2rem;
}

#adicionarItem {
    border-radius: 0.5rem;
    font-size: 1.5rem;
    height: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 75%;
}

#btnAdd {
    background-color: #CDDAFD;
    border: 0;
    border-radius: 0.35rem;
    color: white;
    height: 2rem;
    margin: 0 0.35rem;
    width: 8rem;
    cursor: pointer;
}

#btnAdd:hover {
    background-color: #EAE4E9;
}

#lista {
    background-color: #E2ECE9;
    border-radius: 1.6rem;
    height: 26rem;
    list-style: none;
    overflow-y: auto;
    padding: 0;
}

li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    padding: 0.85rem;
    height: 25px;
    margin: 15px 10 15px 0;
    border-bottom: 1px solid;
}

.textoRiscado{
    text-decoration: line-through;
    color: rgb(66, 0, 128);
}

.btn {
    color: rgb(238, 90, 90);
    float: right;
    padding: auto;
    width: 2.5rem;
    cursor: pointer;
}

